# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Addressables cache (optional but recommended)
**/[Pp]ackages/**/PackageCache/

# Rider / VS / IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db
